body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  .timeline {
    position: relative;
    margin: 20px auto;
    width: 50%;
    padding-left: 30px;
  }
  
  .timeline::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ccc;
  }
  
  .timeline::after {
    content: "";
    position: absolute;
    left: 23px;
    top: 0;
    bottom: 0;
    width: 6px;
    background: rgba(0, 0, 0, 0.1);
     /* Sends the shadow layer behind */
  }
  
  .event {
    position: relative;
    margin-bottom: 30px;
  }
  
  .dot {
    position:-webkit-sticky;
    top: 0;
    left: 17px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  
  .event:nth-child(odd) .dot {
    background: #28a745;
  }
  
  .event:nth-child(even) .dot {
    background: #dc3545;
  }
  
  .content {
    padding: 10px 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .content h3 {
    margin:6 0;
    color: #333;
  }
  
  .content p {
    margin: 5px 0 0;
    color: #666;
  }
  
